---
layout: default
---
<h1> curriculum vitae </h1>
<div class="post">
    <div class="cvhead border-bottom"><i class="fas fa-chalkboard-teacher"></i>professional experience</div>
   {% for section in site.data.cv.professional_experience %}

    <div class="cventry"><b>{{section.date}}</b>
    <br />
    {{section.role}}
    {% if section.university %}
        at the
        {% if section.university_url %}
        <a href="{{section.university_url}}" target="_blank">
        {% endif %}
        {{section.university}}
        {% if section.university_url %}
        </a>
        {% endif %}
    {% endif %}
    {% if section.supervisor %}
        <br />
        in the group of
        {% if section.supervisor_url %}
        <a href="{{section.supervisor_url}}" target="_blank">
        {% endif %}
        {{section.supervisor}}
        {% if section.supervisor_url %}
        </a>
        {% endif %}
    {% endif %}
    </div>
   {% endfor %}

   <div class="cvhead border-bottom"><i class="fas fa-university"></i>education</div>
   {% for section in site.data.cv.education %}

    <div class="cventry"><b>{{section.date}}</b>
    <br />
    {{section.title}}
    {% if section.university %}
        at the
        {% if section.university_url %}
        <a href="{{section.university_url}}" target="_blank">
        {% endif %}
        {{section.university}}
        {% if section.university_url %}
        </a>
        {% endif %}
    {% endif %}
    <br />
    {% if section.thesis %}
        <b>Thesis title: </b>
        {% if section.thesis_url %}
        <a href="{{section.thesis_url}}" target="_blank">
        {% endif %}
        {{section.thesis}}
        {% if section.thesis_url %}
        </a>
        {% endif %}
    {% endif %}
    <br />
    {% if section.supervisor %}
        Supervisor:
        {% if section.supervisor_url %}
        <a href="{{section.supervisor_url}}" target="_blank">
        {% endif %}
        {{section.supervisor}}
        {% if section.supervisor_url %}
        </a>
        {% endif %}
    {% endif %}
    </div>
   {% endfor %}

   <div class="cvhead border-bottom"><i class="fas fa-award"></i>awards</div>
   {% for section in site.data.cv.awards %}
    <div>
    <b>{{section.date}}</b>: {{section.name}}
    </div>
   {% endfor %}

   <div class="cvhead border-bottom"><i class="fas fa-language"></i>languages</div>
   {% for section in site.data.cv.languages %}
    <div>
        <b>{{section.language}}</b>: {{section.skill}}
    </div>
   {% endfor %}
</div>
